@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');


:root {
    --primary-color: rgb(8, 32, 8);
}


* {
    box-sizing: border-box;
}


body {
background-color:rgb(136, 184, 136);
font-family: 'Rajdhani', sans-serif;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 100vh;
margin: 0;
padding: 20px;
}


h1 {
    color: var(--primary-color);
}

p {
    text-align: center;
}

.btn{
    color: white;
    background: var(--primary-color);
    cursor: pointer;
    border-radius: 10px;
    font-size: 10px;
    padding: 5px 15px;
    border: 1px solid var(--primary-color);
   
}

.btn:hover {
    background-color: white;
    color: var(--primary-color);
}

.currency {
    padding: 15px 0px;
}

.currency select {
    padding: 10px;
    border: 1px solid var(--primary-color);
    background-color: antiquewhite;
    cursor: pointer;
    font-weight: 500;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
}
.currency input {
    border: 0;
    font-size: medium;
    text-align: right;
    background-color: antiquewhite;
    border-radius: 2px;
    padding: 5px;
    outline: none;
}
 /* hide scroll on input */
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.swapContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.rate {
    color: var(--primary-color);
    font-size: 15px;
    margin-left: 20px;  
}


.money-img {
    width: 500px;
    height: 200px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .money-img {
       width: 350px;
       height: 150px;
    }

    .currency input {
        width: 150px;
    }
}
